@font-face {
  font-family: 'Lato';
  src: url("../assets/fonts/lato_regular.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/lato_regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/lato_regular.woff") format("woff");
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../../assets/fonts/lato_bold.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/lato_bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/lato_bold.woff") format("woff");
}

/* line 34, ../sass/style.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 46, ../sass/style.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #333333;
}

/* line 53, ../sass/style.scss */
h1 {
  font-family: 'Lato Bold', sans-serif;
  padding-bottom: 25px;
}

/* line 58, ../sass/style.scss */
a {
  text-decoration: none;
  color: #4a90e2;
}

/* line 63, ../sass/style.scss */
button {
  cursor: pointer;
}

/* line 67, ../sass/style.scss */
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 71, ../sass/style.scss */
#wrapper .top-header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 4px #cecece;
  z-index: 1;
}
/* line 78, ../sass/style.scss */
#wrapper .top-header img.logo {
  padding: 25px;
}
/* line 81, ../sass/style.scss */
#wrapper .top-header a.user {
  position: absolute;
  right: 0;
  padding: 25px;
  cursor: pointer;
}
/* line 86, ../sass/style.scss */
#wrapper .top-header a.user img.avatar {
  width: 30px;
  opacity: 0.2;
}
/* line 90, ../sass/style.scss */
#wrapper .top-header a.user img.downarrow {
  width: 10px;
  margin: 7px 0 7px 10px;
}
/* line 95, ../sass/style.scss */
#wrapper .top-header ul.dropdown {
  position: absolute;
  top: 70px;
  right: 25px;
  list-style: none;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px #cecece;
}
/* line 103, ../sass/style.scss */
#wrapper .top-header ul.dropdown.ng-hide-add.ng-hide-add-active, #wrapper .top-header ul.dropdown.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
/* line 107, ../sass/style.scss */
#wrapper .top-header ul.dropdown li {
  line-height: 3rem;
}
/* line 109, ../sass/style.scss */
#wrapper .top-header ul.dropdown li a {
  display: inherit;
  padding: 10px 22px;
  border-left: 3px solid transparent;
}
/* line 113, ../sass/style.scss */
#wrapper .top-header ul.dropdown li a:hover {
  background-color: #f3f9ff;
  border-left: 3px solid #4a90e2;
}
/* line 121, ../sass/style.scss */
#wrapper .sidebar {
  position: fixed;
  top: 70px;
  background-color: #213b47;
  width: 200px;
  height: 100%;
  color: #FFFFFF;
}
/* line 128, ../sass/style.scss */
#wrapper .sidebar .settings {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #bdc5c8;
  padding: 25px 25px 5px;
}
/* line 134, ../sass/style.scss */
#wrapper .sidebar .settings img {
  float: right;
  width: 15px;
  opacity: 0.5;
}
/* line 141, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul {
  list-style-type: none;
}
/* line 143, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li {
  line-height: 3rem;
}
/* line 145, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li a {
  background-position: 22px 5px;
  color: #FFFFFF;
  display: inherit;
}
/* line 16, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:first-child a {
  padding: 0 6.5rem;
  background-image: url("../assets/icons/dashboard.svg");
  background-size: 2.5rem;
  background-repeat: no-repeat;
  border-left: 3px solid transparent;
}
/* line 22, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:first-child a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 3px solid #FFFFFF;
}
/* line 16, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:nth-child(2) a {
  padding: 0 6.5rem;
  background-image: url("../assets/icons/email.svg");
  background-size: 2.5rem;
  background-repeat: no-repeat;
  border-left: 3px solid transparent;
}
/* line 22, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:nth-child(2) a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 3px solid #FFFFFF;
}
/* line 16, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:last-child a {
  padding: 0 6.5rem;
  background-image: url("../assets/icons/export.svg");
  background-size: 2.5rem;
  background-repeat: no-repeat;
  border-left: 3px solid transparent;
}
/* line 22, ../sass/style.scss */
#wrapper .sidebar nav.main-menu ul li:last-child a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 3px solid #FFFFFF;
}
/* line 163, ../sass/style.scss */
#wrapper .main-content {
  position: absolute;
  top: 0;
  left: 200px;
  height: 100%;
  width: 85%;
  background-color: #f1f3f4;
  padding: 110px 0 0 25px;
  overflow: auto;
}
/* line 172, ../sass/style.scss */
#wrapper .main-content table {
  background-color: #ffffff;
  border: 1px solid #d9dfe7;
  width: 95%;
  border-spacing: 0;
}
/* line 177, ../sass/style.scss */
#wrapper .main-content table td {
  border: none;
  border-bottom: 1px solid #d9dfe7;
  padding: 10px 20px;
}
/* line 185, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) .group-buttons {
  position: relative;
  display: inline-block;
}
/* line 189, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button {
  float: none;
  border-radius: 0;
  background-color: #f9f9f9;
  border: 1px solid #d9dfe7;
  padding: 5px 15px;
}
/* line 195, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button img {
  height: 20px;
}
/* line 198, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button:not(:first-child) {
  border-left: 0;
}
/* line 201, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button:hover {
  background-color: #f1f1f1;
}
/* line 204, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 208, ../sass/style.scss */
#wrapper .main-content table thead td:nth-child(2) button:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  line-height: 2.3rem;
  top: -3px;
  position: relative;
}
/* line 221, ../sass/style.scss */
#wrapper .main-content table tfoot td {
  border: none;
  height: 50px;
  width: 50%;
}
/* line 225, ../sass/style.scss */
#wrapper .main-content table tfoot td:first-child {
  border-right: 1px solid #d9dfe7;
}
/* line 230, ../sass/style.scss */
#wrapper .main-content table tfoot td span a:hover {
  color: #cee1f7;
}
/* line 234, ../sass/style.scss */
#wrapper .main-content table tfoot td span.pagination {
  padding-left: 13%;
}
/* line 237, ../sass/style.scss */
#wrapper .main-content table tfoot td span.pagination a.page {
  padding: 5px 10px;
}
/* line 240, ../sass/style.scss */
#wrapper .main-content table tfoot td span.pagination a:hover {
  background-color: #4a90e2;
  border-radius: 5px;
  color: #FFFFFF;
}
/* line 249, ../sass/style.scss */
#wrapper .main-content table tfoot td span:last-child {
  float: right;
}
/* line 257, ../sass/style.scss */
#wrapper .main-content table tbody tr:hover {
  background-color: #f3f9ff;
}
/* line 263, ../sass/style.scss */
#wrapper .main-content table button {
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.4rem;
  float: right;
}
/* line 268, ../sass/style.scss */
#wrapper .main-content table button:focus {
  outline: none;
}
/* line 271, ../sass/style.scss */
#wrapper .main-content table button.create {
  background-color: #4a90e2;
  border: 1px solid #0078b2;
  color: #FFFFFF;
}
/* line 275, ../sass/style.scss */
#wrapper .main-content table button.create:hover {
  opacity: 0.8;
}
/* line 279, ../sass/style.scss */
#wrapper .main-content table button.edit {
  background-color: #f9f9f9;
  border: 1px solid #d9dfe7;
}
/* line 282, ../sass/style.scss */
#wrapper .main-content table button.edit:hover {
  background-color: #f1f1f1;
}
